In [23]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('igtv.csv')
df.head()

,user_id,Igtv_channel_name,username,video_title,video_duration,views,likes,comments,upload_date,video_category,hashtags
0,1,Sauer LLC,ecreyke0,nulla dapibus dolor vel est donec odio justo s...,13,20,11,35,6/22/2020,action,vivamus vestibulum sagittis sapien cum sociis ...
1,2,"Volkman, Wintheiser and Feeney",jculcheth1,egestas metus aenean fermentum donec ut mauris...,595,8,97,25,10/15/2020,sci-fi,interdum venenatis turpis enim blandit mi in p...
2,3,Schneider-Rowe,bhale2,non velit donec diam neque vestibulum eget vul...,1466,59,60,50,4/19/2020,action,nulla elit ac nulla sed vel enim sit amet nunc...
3,4,"Hamill, Witting and Powlowski",mrosas3,sagittis sapien cum sociis natoque penatibus e...,2167,65,22,56,11/30/2021,documentary,in purus eu magna vulputate luctus cum sociis ...
4,5,"DuBuque, Gislason and Littel",dbortolazzi4,amet lobortis sapien sapien non mi integer ac ...,751,88,85,53,1/13/2022,action,enim blandit mi in porttitor pede justo eu mas...

In [24]:
df.shape

(1000, 11)

In [25]:
df.isnull in df

False

In [26]:
df.columns

Index(['user_id', 'Igtv_channel_name', 'username', 'video_title',
       'video_duration', 'views', 'likes', 'comments', 'upload_date',
       'video_category', 'hashtags'],
      dtype='object')

In [27]:
new_df = df[['views','likes','upload_date','video_category']]
new_df.head()

   views  likes upload_date video_category
0     20     11   6/22/2020         action
1      8     97  10/15/2020         sci-fi
2     59     60   4/19/2020         action
3     65     22  11/30/2021    documentary
4     88     85   1/13/2022         action

In [35]:
# Apply the default theme
sns.set_theme()
# Load an example dataset
= sns.load_dataset("new_df")
# Create a visualization
sns.relplot(
    data=new_df,
    x="video_category", y="upload_date",col = "time"
    hue="smoker", style="smoker", size="size",
)

ValueError: 'new_df' is not one of the example datasets.